@{
    ViewBag.Title = "Jquery";
}
<style type="text/css">
    .BlueDiv {
        background-color: Navy;
        color: White;
        width: 200px;
    }

    .RedDiv {
        background-color: Red;
        color: White;
        width: 200px;
    }

    .style1 {
        width: 100%;
    }
</style>
@section Scripts{
  <script>
      $(document).ready(function () {
          //var imgs = $('img');
          //alert(imgs.length);

          //$('div').css('background-color', 'Green');

          $('div').each(function () {
              alert($(this).html());
         });
      });
    </script>
    
}
<h2>@ViewBag.Title.</h2>
<div id="TestDiv" title="Div Title asdf asdfsdf asdf">
    This is my div text
</div>
<div title="Contains Table">
    <table id="DataTable">
        <tr>
            <td>Cell 1 Row 1</td>
        </tr>
        <tr>
            <td>Cell 1 Row 2</td>
        </tr>
        <tr>
            <td>Cell 1 Row 3</td>
        </tr>
        <tr>
            <td>
                <table style="width:100%">
                    <tr>
                        <td>Nested Table Cell and Row</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
</div>
<div class="BlueDiv">
    <span>Blue div</span>
</div>
<br />
@*<span class="BlueDiv">This is my blue span</span>
<br />*@
<div class="RedDiv">
    <span>Red div</span>
</div>
<br/>
<p>
    <img src="~/Images/pluralsight.jpg"  />
</p>


<form id="form1">
    <table style="width:300px;">
        <tr>
            <td style="width:30%;">First Name</td>
            <td style="width:70%;"><input id="FirstNameTextBox" type="text" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input id="LastNameTextBox" type="text" /></td>
        </tr>
        @*<tr>
            <td>Comments</td>
            <td><textarea rows="5" cols="60" id="CommentsTextBox">TextArea</textarea></td>
        </tr>*@
        @*<tr>
            <td>
                <select id="sel">
                    <option value="AZ">AZ</option>
                    <option value="CA" selected="selected">CA</option>
                </select>
            </td>
            <td>&nbsp;</td>
        </tr>*@
        <tr>
            <td><input id="SubmitButton" type="button" value="Submit" /></td>
            <td>&nbsp;</td>
        </tr>
    </table>

</form>
    <


